/**
The css in this file is only for backend editor.
This will be used to match the fonts, sizes etc in backend editor with the frontend
*/

/*body {
  background: #ddd;
}*/

.acf-editor-wrap {
    p[data-mce-style="color: #ffffff;"],
    span[data-mce-style="color: #ffffff;"],
    div[data-mce-style="color: #ffffff;"] {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
            1px 1px 0 #000;
    }
}
