.btn {
  font-size: 16px;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 #6f6f6f;
}

.btn-secondary {
  color: #fff;
}

.wp-block-button__link {
  @extend .btn;
  &.has-white-color {
    &:hover {
      color: #fff;
    }
  }
}

.wp-block-button.is-style-outline {
  .wp-block-button__link {
    box-shadow: none;

    &.has-white-color {
      &:hover {
        color: #fff;
        background-color: theme-color('primary');
        border-color:  theme-color('primary');
      }
    }
  }
}
