.card {
  box-shadow: 0 3px 6px 0 #ddd;
}

.service-cards.lg-cards {
  .row {
    max-width: 1770px;
    margin: auto;
  }

  img {
    object-fit: contain;
    flex-basis: 0;
    margin: 0 auto;
    max-width: 50px;
  }

  .card {
    box-shadow: 0px 2px 6px #0000003b;
    border-radius: 22px;
    padding-top: 2rem;

    h3 {
      font-size: 1rem;
    }
  }

  .card-content {
    padding: 0;
  }

  .row > .wp-block-lg-blocks-card {
    margin-bottom: 2rem;
  }
}

.our-product-cards.lg-cards {
  .row {
    max-width: 1770px;
    margin: auto;
  }

  .card {
    overflow: hidden;
    border-radius: 22px;
    box-shadow: 0px 2px 6px #00000029;

    h3 {
      font-family: $font-family-base;
      font-size: 1rem;
    }
  }

  .card-content {
    padding: 0;
  }

  .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .row > .wp-block-lg-blocks-card {
    margin-bottom: 2rem;
  }
}

@include media-breakpoint-up(xl) {
  .service-cards.lg-cards {
    .row > .wp-block-lg-blocks-card {
      margin-bottom: 4.5rem;
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }
  }
}

.home-cards {
  > div {
    > div {
      margin-bottom: 2rem !important;
      @include media-breakpoint-up(md) {
        h3 {
          font-size: 24px;
        }
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 0px !important;
        h3 {
          font-size: 1.4rem;
        }
      }
    }
    > div:last-child {
      margin-left: auto;
      margin-right: auto;
    }
  }
  padding-left: 2rem;
  padding-right: 2rem;
  @include media-breakpoint-up(md) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .card {
    border-radius: 25px;
    h3 {
      border-radius: 25px 25px 0px 0px;
      font-weight: normal;
    }
    p {
      text-align: center;
    }
  }
}

.s-e-cards {
  > div {
    > div {
      @media screen and (min-width: 1440px) {
        margin-bottom: 0px !important;
      }
      @media screen and (min-width: 992px) and (max-width: 1339px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      margin-bottom: 2rem !important;
    }
  }
  .card {
    border-radius: 25px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    @include media-breakpoint-up(md) {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    > img {
      border-radius: 25px 25px 0 0;
      width: auto;
      height: 390px;
      object-fit: cover;
      @include media-breakpoint-up(md) {
        width: 100%;
        height: auto;
      }
    }
    .card-content-over-image {
      position: absolute;
      top: -195px;
      left: 0;
      padding-top: 10px;
      padding-left: 5%;
      padding-right: 5%;
      background-color: rgba(#fafafa, 0.6);
      .wp-block-buttons {
        justify-content: flex-start;
      }
      @include media-breakpoint-up(md) {
        top: -190px !important;
        .wp-block-buttons {
          justify-content: flex-end;
        }
      }
      @media screen and (min-width: 1440px) {
        top: -195px !important;
      }
    }

    .wp-block-column {
      &:not(:first-child) {
        @media screen and (min-width: 1340px) and (max-width: 1533px) {
          margin-left: 0.5rem;
        }
      }
      > .wp-block-columns {
        display: flex !important;

        > .wp-block-column:nth-child(odd) {
          display: flex;
          justify-content: flex-start;
          flex-basis: 25% !important;
        }
        > .wp-block-column:nth-child(even) {
          flex-basis: 75% !important;
        }
        > .wp-block-column {
          display: flex !important;
          align-items: center;
          margin-bottom: 0;
          @media screen and (min-width: 1340px) and (max-width: 1533px) {
            margin-left: 0.5rem;
          }
          > figure {
            display: flex;
            align-items: center;
            margin-bottom: 0;
          }
          > p {
            > a {
              @media screen and (min-width: 767px) and (max-width: 870px) {
                font-size: 0.89rem;
              }
              @media screen and (min-width: 1340px) and (max-width: 1533px) {
                font-size: 0.71rem;
              }
            }
          }
        }

        @include media-breakpoint-up(md) {
          > .wp-block-column:nth-child(odd) {
            flex-basis: 20% !important;
          }
          > .wp-block-column:nth-child(even) {
            flex-basis: 60% !important;
          }
        }
        @media screen and (min-width: 1440px) {
          > .wp-block-column:nth-child(odd) {
            flex-basis: 13% !important;
          }
          > .wp-block-column:nth-child(even) {
            flex-basis: 84% !important;
          }
        }
      }
    }
    .card-body {
      > .wp-block-columns {
        margin-bottom: 0px;
      }
      > .wp-block-columns {
        .wp-block-columns {
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}

.labforce-cards {
  margin: 0 1rem;
  @media screen and (min-width: 375px) {
    margin: 0 2rem;
  }
  @media screen and (min-width: 850px) {
    margin: 0 4rem;
  }
  @media screen and (min-width: 992px) {
    margin: 0 2rem;
    .card {
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  @media screen and (min-width: 1366px) {
    margin: 0 5rem;
  }
  @media screen and (min-width: 1680px) {
    margin: 0 4.7rem;
    .card {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  @media screen and (min-width: 1920px) {
    margin: 0 10.9rem;
  }
  .row {
    > .wp-block-lg-blocks-card {
      margin-bottom: 3rem;
      .card {
        border-radius: 30px;
        box-shadow: 3px 3px 10px #00000040;
        margin-bottom: 1rem;
        h2 {
          text-align: center;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
