.tax-product_cat {
  #primary {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0px;

    @media screen and (min-width: 1300px) {
      padding-top: unset;
      margin-top: -30px;
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
}

.archive-banner {
  position: relative;
  &__image {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 305px;
    img {
      object-fit: cover;
      width: 100%;
      min-height: 305px;
      height: 100%;
      @include media-breakpoint-up(md) {
        min-height: 340px;
      }
      @media screen and (min-width: 1300px) {
        min-height: unset;
      }
    }
    @media screen and (min-width: 1300px) {
      height: 305px;
      min-height: unset;
    }
  }
  &__content {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 305px;
    @include media-breakpoint-up(md) {
      min-height: 340px;
    }
    h1 {
      color: #fff;
      font-size: 1.8rem;
      text-align: center;
      @include media-breakpoint-up(md) {
        font-size: 1.6rem;
      }
    }
    p {
      text-align: center;
      width: 90%;
    }
    span {
      font-family: "Raleway", sans-serif;
      @include media-breakpoint-up(md) {
        font-size: 24px;
      }
    }
    div {
      p {
        margin-right: 0;
        text-align: center;
        font-size: 16px;
        @include media-breakpoint-up(md) {
          width: 90%;
          font-size: 20px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 24px;
          width: 90%;
        }
      }
    }
  }
}

.category-product-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0rem;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: space-between;
  @include media-breakpoint-up(md) {
    margin: 0 0rem;
  }
  padding-inline-start: 0;
  @include media-breakpoint-up(lg) {
    padding-inline-start: 0px;
  }

  .category-product-wrapper {
    flex: 0 0 100%;
    border: 1px solid theme-color("light-gray");
    padding: 0.8rem !important;
    border-radius: 20px;
    //margin: 0rem 0.2rem 3rem 0rem;

    box-shadow: 3px 3px 10px #00000040;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      transform: translateY(-5px);
      box-shadow: 6px 6px 20px #00000040;
    }

    @keyframes gentle-fall {
      0% {
        transform: scale(1, 1) translateY(0px);
      }
      50% {
        transform: scale(1.02, 1.02) translateY(3px);
      }
      100% {
        transform: scale(1, 1) translateY(15px);
      }
    }

    @keyframes gentle-lift {
      0% {
        transform: scale(1, 1) translateY(0px);
      }
      50% {
        transform: scale(1.02, 1.02) translateY(-3px);
      }
      100% {
        transform: scale(1, 1) translateY(-15px);
      }
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 calc(50% - 1rem);
      //margin: 0 0.5rem 0.5rem 0.5rem;
    }

    @media screen and (min-width: 1440px) {
      flex: 0 0 calc(25% - 2rem);
      //margin: 0 1rem 1rem 1rem;
    }
  }
  .product {
    //display: flex;
    //flex-direction: column;
    &__image {
      display: flex;
      justify-content: center;
    }
    &__title {
      @media screen and (min-width: 1440px) and (max-width: 1560px) {
        h2 {
          font-size: 1.2rem;
        }
      }
      a {
        &:hover {
          color: theme-color("secondary");
        }
      }
      h2 {
        font-size: 1.2em;
      }
    }
    &__desc-short {
      font-size: 0.8rem;
    }
    &__benefits {
      h3 {
        font-size: 1.1rem;
      }
      ul {
        padding-inline-start: 0.5rem;
      }
      li {
        padding-inline-start: 1ch;
        margin-bottom: 0.25rem;
        font-size: 0.8rem;
      }
      li::marker {
        content: "▶";
        font-size: 12px;
      }
    }
    &__learn-more {
      //display: flex;
      //align-items: flex-end;
      //flex: 1;
    }
    &__variants {
      .woocommerce-product-attributes-item__value {
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-auto-flow: column;
      }
    }
  }
}

form.woocommerce-ordering {
  display: none;
}

.consumable-product-wrapper {
  display: flex;
  justify-content: center;
  .product__title {
    display: flex;
    width: fit-content;
    justify-content: center;
    h2 {
      width: fit-content;
      display: flex;
      justify-content: center;
    }
  }
}
