.ctct-form-wrapper {
  .ctct-submit {
    @extend .btn;
    @extend .btn-white;
    background-color: transparent !important;
    padding: 14px 1rem;
    &:hover {
      background-color: #fff !important;
      color: theme-color("primary") !important;
    }
  }
}
.ctct-form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  label {
    font-size: 16px;
    margin-bottom: 0;
  }
  input {
    background: transparent;
    border: 1px solid #fff;
    &[type="text"],
    &[type="email"] {
      width: 100%;
    }
  }
  @include media-breakpoint-up(md) {
    .ctct-form-field {
      max-width: 27%;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    > * {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
@include media-breakpoint-up(md) {
  .ctct-disclosure {
    flex-basis: 100%;
  }
  .ctct-form-description {
    display: none;
  }
}
