a {
    color: theme-color("secondary");
}

hr.lg {
    margin-top: $hr-margin-y * 3;
    margin-bottom: $hr-margin-y * 3;
}

iframe {
    max-width: 100%;
}

.container-wide {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include media-breakpoint-up(sm) {
        max-width: 768px;
    }
    @include media-breakpoint-up(md) {
        max-width: 992px;
    }
    @include media-breakpoint-up(lg) {
        max-width: 1200px;
    }
    @include media-breakpoint-up(xl) {
        max-width: 1440px;
    }
}

.card {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}

.max-width-sm {
    max-width: 740px;
}

.max-width-md {
    max-width: 930px;
}

/*contact page styles*/
.locations {
    .wp-block-group__inner-container {
        box-shadow: 0 3px 6px 0 #ddd;
        h2 {
            @extend .pl-3;
            box-shadow: 0 3px 6px 0 #ddd;
            margin-bottom: 0;
        }
    }
}

.multi-forms {
    .card {
        flex-direction: row;

        &.container {
            padding-left: 0;
            padding-right: 0;
        }

        .wp-block-image {
            margin-bottom: -15px;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

// change gutenberg default 2 column layout
.wp-block-columns {
    &.break-column-992 {
        @include media-breakpoint-down(md) {
            display: block;
            > .wp-block-column {
                &:not(:first-child) {
                    margin-left: 0;
                }

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        display: block;
        > .wp-block-column {
            &:not(:first-child) {
                margin-left: 0;
            }

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}

.lg-breadcrumb {
    font-size: 14px;
    color: #878787;
    margin: 10px 0;

    a {
        color: #878787;

        &:hover {
            color: theme-color("primary");
        }
    }
}

// service 3 column layout custom style
.service-three-col {
    &.lab-equipment-list {
        a:hover {
            color: theme-color("secondary");
        }
    }

    a {
        text-decoration: underline;
        color: #fff;

        &:hover {
            color: theme-color("primary");
        }
    }

    > .wp-block-column:not(:first-child) {
        @include media-breakpoint-up(lg) {
            padding-left: 3rem;
        }
    }
}

// multi image
.multi-img {
    .wp-block-group__inner-container {
        display: flex;
        flex-wrap: wrap;
        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
}

// service agents slider

#service-agents {
    .slick-slider .slick-track {
        display: flex;
        align-items: center;

        img {
            margin: auto;
        }
    }

    .slick-dots {
        li {
            button {
                border: 1px solid #ddd;
                border-radius: 50%;
                width: 9px;
                height: 9px;
            }

            &.slick-active {
                button {
                    border: 1px solid theme-color("primary");
                    background-color: theme-color("primary");
                    border-radius: 50%;

                    &:before {
                        color: transparent;
                    }
                }
            }
        }
    }
}

.tax-product_cat {
    #site-content {
        flex-direction: column;
    }
}

.hr-primary {
    width: 100%;
    max-width: 100%;
    border-top: 2px solid theme-color("primary");
}

.lg-breadcrumb {
    margin: 0 2em;
}
