#site-footer {
    color: theme-color('body-text');
    a {
        color: theme-color('body-text');
        &:hover {
            color: theme-color('secondary');
        }
    }
    #site-footer-main {
        background-color: transparent;
        color: theme-color('body-text');
        font-size: 16px;
       
        .site-footer-alpha {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (max-width: 1200px) and (min-width: 768px){
                align-items: flex-start;
            }
        }
        .site-footer-delta {
            .textwidget > p > a:not(:first-child){
                margin-left: 2rem;
            }
        }
        .site-footer-bravo {
            .textwidget a {
                color: theme-color('secondary');
                &:hover {
                    color: theme-color('primary');
                }
            }
        }
        .widget {
            .widget-title {
                border: none;
                font-size: 16px;
                background-color: transparent;
                color: theme-color('primary');
                text-transform: none;
                padding: 0;
            }
            ul {
                list-style: none;
                padding-left: 0;
            }
        }
    }
    #site-legal {
        background-color: transparent;
        color: theme-color('body-text');
        > div {
            a {
                color: theme-color('body-text');
            }
        }
    }
}