.gform_wrapper form {
  $form_light_color: #C5C5C5;

  .gform_body {
    .gform_fields {
      list-style: none;
      padding-left: 0;

      li {
        margin-bottom: 1rem;

        input, textarea, select {
          width: 100%;
          padding: .75rem;
          border: 1px solid $form_light_color;

          &:placeholder {
            color: $form_light_color;
          }
        }

        textarea {
          height: 135px;
        }
      }
    }
  }

  .gform_footer input[type=submit] {
    background-color: #323232;
    color: #fff;
    border-color: #323232;

    &:hover {
      background-color: darken(#323232, 15%);
      border-color: darken(#323232, 15%);
    }
  }
}

.lg-form-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 825px;

  .gform_wrapper {
    li.hidden_label input {
      margin-top: 0;
    }

    .field_sublabel_hidden_label .ginput_complex.ginput_container input[type=text],
    .field_sublabel_hidden_label .ginput_complex.ginput_container select {
      margin-bottom: 1rem;
    }


    .gfield_label {
      font-weight: normal;
      display: block !important;
    }

    h3 {
      font-weight: bold;
      font-size: 1.5rem;
      margin-top: 3rem;
    }

    .gf_browser_chrome ul.gform_fields li.gfield select {
      margin-left: 0;
    }

    li {
      input[type='text'], select {
        margin-top: 0 !important;
      }

      input[type='text'], input[type='email'], input[type='tel'] {
        padding: 12px 15px !important;
      }
    }

    ul.gfield_radio li input[type="radio"]:checked + label,
    ul.gfield_checkbox li input[type="checkbox"]:checked + label,
    .gchoice_select_all {
      font-weight: normal;
    }

    ul.gfield_checkbox li {

      label {
        font-size: 1rem;
      }

      input[type=checkbox] {
        margin-top: 0;
      }
    }


    table.gfield_list {
      display: block;

      thead {
        display: none;
      }

      tbody, tr, td {
        display: block;
      }

      tbody {
        tr {
          td.gfield_list_icons {
            text-align: right;
            width: auto !important;
            display: flex;
            justify-content: flex-end;
          }

          .add_list_item {
            position: relative;
            order: 2;

            &:after {
              content: " Add More";
              color: #000;
              opacity: .7;
              vertical-align: middle;
              display: inline-block;
              margin-left: .5rem;
              font-size: 18px;
            }
          }

          .delete_list_item {
            position: relative;
            order: 1;
            margin-right: .5rem;

            &:after {
              content: " Remove";
              color: #000;
              opacity: .7;
              vertical-align: middle;
              display: inline-block;
              margin-left: .5rem;
              font-size: 18px;
            }
          }
        }
      }

      td + td {
        padding: 0;
      }

      td {
        padding: 0;
        margin-bottom: 1rem;
      }

      td.gfield_list_23_cell2, td.gfield_list_23_cell7, td.gfield_list_23_cell9, td.gfield_list_23_cell11 {
        display: none;
      }
    }


    //custom checkboxes
    ul.gfield_checkbox, ul.gfield_radio {
      input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        left: 0;
      }

      label {
        position: relative;
        padding-left: 2rem;

        &:before, &:after {
          content: "";
          position: absolute;
          width: 1.3em;
          height: 1.3em;
          left: 0;
          top: .2em;
        }

        &:after {
          background: no-repeat 50%/50% 50%;
        }
      }
    }

    ul.gfield_checkbox {
      label {
        &:before {
          border: 1px solid #111;
        }


      }

      input:checked + label {
        &:before {
          background-color: theme-color('primary');
          border-color: theme-color('primary');
        }

        &:after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
        }
      }
    }

    ul.gfield_radio {
      label {
        padding-left: 1.2rem;

        &:before, &:after {
          width: 1em;
          height: 1em;
        }

        &:before {
          border: 1px solid #111;
          border-radius: 50%;
        }
      }

      input:checked + label {
        &:before {
          background-color: theme-color('primary');
          border-color: theme-color('primary');
        }

        &:after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        }
      }
    }

    .gfield_checkbox, .gfield_radio {
      li {
        label {
          max-width: 100%;
        }
      }
    }


  }

  .gform_confirmation_wrapper{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
  }
}





