html.sticky-header #site-header {
  max-height: none;
}

.menu-item-has-children {
  > button {
    position: absolute;
    height: 36px;
    line-height: 36px;
    border: 0;
    right: 0;
    top: 0;
    padding: 0 16px;
    color: #fff;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}

#site-header {
  .header-main {
    .header-top-desktop {
      display: flex;
      @include media-breakpoint-down("lg") {
        display: none !important;
      }
      border-bottom: 1px solid #b9b9b9;
      font-size: 16px;

      a {
        font-size: 16px;
      }
    }

    .header-top-mobile {
      .header-top-right {
        a {
          color: theme-color("primary");
          font-size: 1.25rem;

          &:first-child {
            font-size: 1.1rem;
          }

          &:hover {
            color: theme-color("secondary");
          }
        }
      }

      .site-branding {
        width: auto;

        .logo {
          width: 50px;
        }
      }
    }

    .hamburger--collapse {
      // &.is-active {
      //     .hamburger-box .hamburger-inner {
      //         top: auto;
      //         &:before {
      //             top: unset;
      //         }
      //     }
      // }
      // padding: 0;
      .hamburger-box {
        width: 25px;
        height: 18px;

        .hamburger-inner {
          width: 25px;
          height: 2px;

          &:after {
            width: 25px;
            height: 2px;
            top: 10px;
          }

          &:before {
            width: 25px;
            height: 2px;
          }
        }
      }
    }

    .main-navigation {
      nav {
        position: static;

        .navbar-collapse {
          justify-content: center;
        }

        padding: 0 1rem;

        ul#menu-main-menu {
          > .nav-item {
            .dropdown-toggle:after {
              font-size: 17px;
            }

            .dropdown-menu {
              border-radius: 0;

              a {
                color: #fff;

                &:hover {
                  color: theme-color("secondary");
                }
              }
            }

            > .nav-link {
              text-transform: none;
              color: theme-color("body-text");

              &:hover {
                background-color: transparent;
                color: theme-color("secondary");
              }
            }
          }
        }
      }

      @include media-breakpoint-down($nav-breakpoint-down) {
        &.container {
          padding-left: 0;
          padding-right: 0;

          nav {
            padding: 0;

            .offcanvas-collapse {
              $mobile_bar_height: 91px;
              position: static;
              display: none;
              padding-top: 1rem;
              height: calc(100vh - #{$mobile_bar_height});

              .mobile-nav-bottom {
                margin: 1rem;
                color: #fff;
                opacity: 0.7;
                font-size: 15px;
                border-top: 1px solid #fff;

                a {
                  text-transform: none;
                }
              }

              &.show {
                visibility: visible;
              }
            }

            ul#menu-main-menu {
              > .nav-item {
                > .nav-link {
                  font-size: 20px;
                }

                a,
                .nav-link {
                  color: #fff;
                  border-bottom: none;
                  padding: 0.4rem 0;
                  text-transform: none;

                  &:hover {
                    color: theme-color("secondary");
                  }
                }

                .dropdown-menu {
                  border-bottom: none;
                }

                > .dropdown-menu {
                  > .nav-item {
                    > .dropdown-menu {
                      font-size: 16px;
                      display: block;
                    }
                  }
                }

                > .dropdown-toggle {
                  justify-content: flex-start;
                }
              }
            }
          }
        }
      }
      @include media-breakpoint-up($nav-breakpoint-up) {
        nav {
          ul#menu-main-menu {
            /*Start of three column menu layout*/
            > .dropdown {
              > .dropdown-menu > li > a {
                font-size: 16px;
              }
            }

            .three-col-menu {
              position: static;

              > .dropdown-menu.show {
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 2rem 0;

                > .nav-item {
                  display: block;
                  padding: 0 2rem;

                  > a {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: $headings-font-family;
                  }

                  > .dropdown-menu {
                    position: static;
                    border: none;

                    > .nav-item {
                      &:not(:last-child) {
                        margin-bottom: 0.5rem;
                      }

                      a {
                        color: #fff;
                        opacity: 0.7;
                        font-size: 16px;
                        font-weight: 300;

                        &:hover {
                          color: theme-color("secondary");
                        }
                      }
                    }
                  }
                }
              }
            }

            /*End  of three column menu layout*/
          }
        }
      }
    }
  }
}

.lg-social-media {
  list-style: none;
  padding-left: 0;

  > li {
    display: inline-block;

    > a {
      font-size: 1rem !important;
      padding: 0 4px;
      //color: theme-color("primary");
    }
  }
}

@include media-breakpoint-up($nav-breakpoint-up) {
  .menu-item-has-children {
    > button {
      display: none;
    }

    > a.nav-link {
      position: relative;

      &:after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
    }
  }
}

#site-content {
  @include media-breakpoint-up(xs) {
    padding-top: 94px;
  }
  @media screen and (min-width: 424px) {
    padding-top: 93px;
  }
  @include media-breakpoint-up(sm) {
    padding-top: 93px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 99px;
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    padding-top: 99px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 197.5px;
  }
}

body {
  overflow-x: hidden;
}
