.home-cta {
  .wp-block-cover__inner-container {
    .wp-block-columns {
      @include media-breakpoint-up(md) {
        .wp-block-column:first-child {
          flex-basis: calc(35% - 1rem) !important;
          padding-right: 1rem;
        }
        .wp-block-column:last-child {
          margin-left: 0px;
          flex-basis: 60% !important;
          p {
            font-size: 16px;
          }
        }
      }
      @include media-breakpoint-up(lg) {
        .wp-block-column:last-child {
          p {
            width: 79% !important;
            font-size: 1rem !important;
          }
          .wp-block-buttons {
            margin-top: 1.3rem;
          }
        }
      }
      .wp-block-column {
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;

        .wp-block-image {
          margin: 0 3rem 0 0;
          figure {
            img {
              border-radius: 10px;
            }
          }
        }
        h2 {
          text-align: center;
          padding: 0% 5%;
          font-size: 32px;
          line-height: 1.1;
        }
        p {
          text-align: center;
          padding: 0% 5%;
          width: 83%;
        }
        .wp-block-buttons {
          .wp-block-button {
            a:hover {
              color: #cd1e29 !important;
              background-color: #fff !important;
              border-color: #cd1e29 !important;
            }
          }
        }

        @include media-breakpoint-up(md) {
          align-items: unset !important;
          h2 {
            padding: inherit;
            text-align: unset;
            line-height: inherit;
          }
          p {
            padding: inherit;
            width: 100%;
            text-align: unset;
          }
        }
        @include media-breakpoint-up(lg) {
          p {
            width: 71%;
          }
        }
      }
    }
  }
}

.home-slider {
  height: 470px;
  min-height: 470px;
}
