.wp-block-lg-blocks-img-text {
  &.no-margin {
    .img-text__inner {
      margin-right: 0;
      margin-left: 0;
    }
  }
  &.no-shadow {
    .img-text__media {
      img {
        display: block;
      }
      &:after {
        content: none;
      }
    }
  }
}

.img-text__media {
  position: relative;
  padding-right: 1rem;
  margin-bottom: 2rem;

  img {
    border-radius: 58px;
  }

  &:after {
    content: "";
    position: absolute;
    width: calc(100% - 1rem);
    height: 100%;
    top: 1rem;
    left: 1rem;
    background-color: #f3f3f3;
    z-index: -1;
    border-radius: 58px;
    margin: 0;
    margin-left: 0;
  }
}

@include media-breakpoint-up(xl) {
  .img-text__inner {
    margin-left: -2rem;
    margin-right: -2rem;

    > * {
      // padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  .img-text__media {
    padding-right: 3.5rem;

    &:after {
      left: 4rem;
      top: 1.5rem;
      width: calc(100% - 6rem);
    }
  }
}
