#fbuilder {
  input[type='text'], input[type='number'], input[type='email'], input[type='tel'] {
    padding: 10px 15px !important;
    border: 1px solid #C5C5C5;
  }

  #formheader_1 {
    margin-bottom: 1rem;
  }

  label {
    color: theme-color("primary");
  }

  .fields {
    margin-bottom: 1rem;
  }
}
