.widget.widget_product_categories {
  .widget-title {
    display: none;
  }

  > ul {
    margin: 0;
  }
}

.product-categories {
  //hide uncategorized
  .cat-item-15 {
    display: none;
  }

  li {
    position: relative;

    a:hover {
      color: theme-color("primary");
    }
  }

  span.toggle {
    position: absolute;
    right: 0;
    top: 1px;
    cursor: pointer;
  }


  ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 2rem;
  }

  a {
    display: block;
    color: #000;
  }


  > li {
    > a {
      font-size: 1.25rem;
      font-weight: 600;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid #ddd;
      padding: 1rem 0;
    }

    > span.toggle {
      top: 1.3rem;
    }

    > ul {
      > li {
        > a {
          border-bottom: 1px solid #ddd;
          padding: .5rem 0;
          font-weight: normal !important;
        }

        > span.toggle {
          top: .55rem;
        }

        > ul {
          margin-bottom: 0;
          padding-left: 1.5rem;
          border-bottom: 1px solid #ddd;
          padding-bottom: .5rem;

          > li {
            > ul {
              padding-left: 1.5rem;
            }

            > a {
            }
          }


        }
      }

      > li.cat-parent {
        > a {
          border-bottom: 0;
        }
      }
    }
  }

  .current-cat {
    > a {
      color: theme-color("primary");

    }

    > span.toggle {
      color: theme-color("primary");
    }
  }
}
