.product-template-default {
    #main {
        margin-left: 3em;
        margin-right: 3em;
    }
}
.product.alignfull {
    //margin-left: -17vw;
    //padding-left: 2rem;
    //padding-right: 2rem;
    @include media-breakpoint-down(md) {
        margin: 0;
    }
    .product-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .woocommerce-variation-price {
        margin-bottom: 1rem;
        color: theme-color("primary");
        font-weight: 700;
        font-size: 1.25rem;
    }
    .price {
        margin-bottom: 1rem;
        color: theme-color("primary");
        font-weight: 700;
        font-size: 1.25rem;
        .woocommerce-Price-amount {
            bdi {
                color: theme-color("primary");
                font-weight: 700;
                font-size: 1.25rem;
            }
        }
    }
    .product {
        &__title {
            h1 {
                font-size: 1.4rem;
                @include media-breakpoint-up(md) {
                    font-size: 2rem;
                }
            }
        }
        &__image {
            flex: 0 1 calc(50% - 2em);
            @include media-breakpoint-down(md) {
                flex: 0 0 calc(100% - 4em);
            }
            @include media-breakpoint-down(sm) {
                flex: 0 0 100%;
            }
        }
        &__content {
            flex: 0 1 calc(50% - 2em);
            @include media-breakpoint-down(md) {
                flex: 0 0 calc(100% - 4em);
            }
            @include media-breakpoint-down(sm) {
                flex: 0 0 100%;
            }
        }
        &__benefits {
            h2 {
                font-weight: 300;
            }
            ul {
                padding-inline-start: 0.5rem;
            }
            li {
                padding-inline-start: 1ch;
                margin-bottom: 0.25rem;
            }
            li::marker {
                content: "▶";
                font-size: 12px;
            }
        }
        &__add-to-cart {
            margin-bottom: 2.25rem;
        }
    }
    .variations {
        select {
            margin-bottom: 1rem;
            min-width: unset !important;
            width: fit-content;
        }
        .label {
            label {
                color: theme-color("primary");
                text-transform: uppercase;
                font-size: 14px;
                margin: 0;
            }
        }
    }

    .variant-table {
        margin-left: -2em;
        margin-right: -2em;
        margin-bottom: 2.25rem;
        @include media-breakpoint-up(md) {
            margin-left: unset;
            margin-right: unset;
        }
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            .swiper-container {
                flex: 1 1 70%;
                position: initial;
                .swiper-wrapper {
                    opacity: 1;
                    .swiper-slide-prev {
                        opacity: 0;
                        transition: opacity 1s ease;
                    }
                }
                .swiper-button-next-item {
                    position: absolute;
                    content: "";
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid theme-color("secondary");
                    top: 35px;
                    right: 0px;
                    z-index: 99999;

                    cursor: pointer;
                }
                .swiper-button-prev-item {
                    position: absolute;
                    content: "";
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid theme-color("secondary");
                    top: 35px;
                    left: 0px;
                    z-index: 99999;
                    cursor: pointer;
                }
            }
            .variant-table__column {
                .variant-table__row,
                .variant-table__header {
                    border-bottom: 1px solid theme-color("gray");
                    flex: 1 1 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    min-height: 62px;
                }
                .variant-table__header {
                    color: theme-color("secondary");
                    font-weight: bold;
                    align-items: flex-end;
                }
                .variant-table__row {
                    align-items: center;
                    font-size: 12px;
                    padding-right: 0.5rem;
                    @include media-breakpoint-up(md) {
                        font-size: 15px;
                        padding-right: 1.5rem;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 17px;
                        padding-right: 1.1rem;
                    }
                }
            }
            > .variant-table__column {
                display: flex;
                flex-wrap: wrap;
                flex: 1 1 30%;
                background-color: #fff;
                z-index: 995;
                .variant-table__row {
                    color: theme-color("primary");
                    font-weight: bold;
                }
            }
        }
    }

    .product-files {
        width: 100%;
        margin-left: -2em;
        margin-right: -2em;
        @include media-breakpoint-up(md) {
            margin-left: unset;
            margin-right: unset;
        }
        h2 {
            font-weight: 600;
        }
        .files-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .file {
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 200px;
                    span {
                        text-align: center;
                    }
                }
            }
        }
    }
    .options-section {
        width: 100vw;
        margin-left: -3.5em;
        @include media-breakpoint-up(md) {
            margin-left: -3em;
        }
        background-color: theme-color("primary");
        padding: 2rem 2rem;
        &__title {
            color: theme-color("white");
        }
        .blurb-wrapper {
            display: flex;
            width: 100%;
            flex-direction: column;
            @include media-breakpoint-up(md) {
                flex-direction: row;
            }
        }
        &__blurb {
            color: theme-color("white");
            flex: 1 1;
        }
        &__cta {
            display: flex 1 1 10%;
            margin-right: 1rem;
        }
        .option-wrapper {
            display: flex;
            flex-wrap: wrap;
            padding: 2rem 0rem;
            .option {
                flex: 1 1 100%;
                background-color: theme-color("white");
                border-radius: 20px;
                &:nth-child(n + 2) {
                    margin-top: 1rem;
                }
                @include media-breakpoint-up(md) {
                    flex: 0 0 calc(50% - 1rem);
                    &:nth-child(n + 2) {
                        margin-left: 1rem;
                        margin-top: unset;
                    }
                    &:nth-child(n + 3) {
                        margin-left: 0rem;
                        margin-top: 1rem;
                    }
                    &:nth-child(n + 4) {
                        margin-left: 1rem;
                        margin-top: 1rem;
                    }
                }
                @include media-breakpoint-up(xl) {
                    flex: 0 0 calc(25% - 1rem);
                    &:nth-child(n + 3) {
                        margin-left: 1rem;
                        margin-top: unset;
                    }
                    &:nth-child(n + 4) {
                        margin-left: 1rem;
                        margin-top: unset;
                    }
                }

                &__title {
                    display: flex;
                    justify-content: center;
                    background-color: theme-color("secondary");
                    border-radius: 20px 20px 0 0;
                    padding: 2rem;
                    color: theme-color("white");
                    font-size: 24px;
                    text-align: center;
                    @media screen and (max-width: 1589px) and (min-width: 992px) {
                        font-size: 20px;
                    }
                }
                &__description {
                    display: flex;
                    justify-content: center;
                    padding: 1rem;
                    text-align: center;
                }
            }
        }
    }

    .related-products {
        > section {
            > h2 {
                text-transform: capitalize;
            }
        }
        .category-product-container {
            justify-content: center;
            display: flex;
        }
        .product {
            flex: 1 1 100%;
            @include media-breakpoint-up(md) {
                flex: 0 1 50%;
            }
            @include media-breakpoint-up(lg) {
                flex: 0 1 25%;
            }

            padding-right: 2rem;
            &__image {
                border: 1px solid gray;
                padding: 10px;
            }
            &__title {
                h2 {
                    color: #000;
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }
    .linked-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        .linked-product {
            flex: 1 1 100%;
            margin-top: 1rem !important;
            @include media-breakpoint-up(md) {
                flex: 0 0 calc(50% - 3rem);
            }
            @media screen and (min-width: 992px) and (max-width: 1025px) {
                flex: 0 0 calc(33% - 3rem);
            }
            @media screen and (min-width: 1026px) {
                flex: 0 1 calc(25% - 1rem);
            }

            margin: 0 0.5rem 0 0;
            &__image {
                border: 1px solid theme-color("gray");
                padding: 1rem;
                @include media-breakpoint-up(md) {
                    min-height: 215px;
                }
                display: flex;
                justify-content: center;
            }
            &__title {
                white-space: nowrap;
                text-align: center;
                margin-top: 0.25rem;
                color: #000;
                font-size: 16px;
            }
        }
    }
}

.woocommerce-breadcrumb {
    margin: 10px 0 !important;
    a {
        font-size: 14px !important;
        color: rbg(135, 135, 135) !important;
        font-weight: 400 !important;
    }
    font-size: 14px !important;
    color: rbg(135, 135, 135) !important;
    font-weight: 400 !important;
}
