$scroll-bar: 20px;

:root {
  --scroll-bar: 8px;
}

.row-full, .alignfull {
  position: relative;
  width: 100%;
  max-width: none;
  /*width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);*/
}

.has-scrollbar {
  .row-full, .alignfull {
    width: calc(100vw - #{$scroll-bar});
    margin: 0 calc(-50vw + 50% + #{$scroll-bar / 2});
  }
}

@supports (color: var(--scroll-bar)) {
  .has-scrollbar {
    .row-full, .alignfull {
      width: calc(100vw - var(--scroll-bar));
      margin: 0 calc(-50vw + 50% + (var(--scroll-bar) / 2));
    }
  }
}
