.home-slider {
    //width: 100vw !important;
    .swiper-button-prev {
        position: absolute;
        left: 25px;
        top: 56%;
        height: 30px;
        width: 30px;
        z-index: 999;
        cursor: pointer;
        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f053";
            color: #fff;
            font-size: 35px;
            text-shadow: 1px 1px 7px black;
        }
        @include media-breakpoint-up(md) {
            top: 50%;
        }
    }
    .swiper-button-next {
        position: absolute;
        right: 25px;
        top: 56%;
        height: 30px;
        width: 30px;
        z-index: 999;
        cursor: pointer;
        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f054";
            color: #fff;
            font-size: 35px;
            text-shadow: 1px 1px 7px black;
        }
        @include media-breakpoint-up(md) {
            top: 50%;
        }
    }

    .swiper-wrapper {
        .swiper-slide__img {
            opacity: 0.5;
        }
        .swiper-slide__content {
            align-items: center;
            justify-content: center;
            > p {
                margin: 0 25px;
            }
            .wp-block-group__inner-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                > p {
                    margin: 0 25px;
                }
            }
        }
        @include media-breakpoint-up(md) {
            .swiper-slide__img {
                opacity: 1;
            }
            .swiper-slide__content {
                align-items: flex-end;
                position: absolute;
                left: 65px;
                > p {
                    margin: unset;
                    margin-right: 50%;
                }
                > h2 {
                    width: 100%;
                }
                > .wp-block-buttons {
                    width: 100%;
                }
                .wp-block-group__inner-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    > p {
                        margin: unset;
                    }
                }
                .slide-right-content {
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 65px;
                    > div {
                        width: 50%;
                    }
                }
            }
        }
    }
}

// .swiper-wrapper {
//     opacity: 0;
//     .swiper-slide {
//         .swiper-slide__img {
//             opacity: 0.5;
//         }
//         .swiper-slide__content {
//             justify-content: center;
//             align-items: center;
//             font-family: "Raleway", sans-serif;
//             h2 {
//                 max-width: fit-content;
//             }
//             p {
//                 margin-left: 25px;
//                 margin-right: 25px;
//             }
//             .wp-block-group__inner-container {
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//             }
//         }
//     }
//     @include media-breakpoint-up(md) {
//         .swiper-slide {
//             .swiper-slide__img {
//                 opacity: 1;
//             }
//             .swiper-slide__content {
//                 padding-right: 2rem;
//                 padding-top: 2rem;
//                 padding-left: 4rem;
//                 align-items: flex-end;
//                 display: flex;
//                 justify-content: center;
//                 .slide-right-content {
//                     justify-content: flex-end;
//                     display: flex;
//                     width: 50%;
//                     align-items: flex-start;
//                     justify-content: flex-start;
//                     .wp-block-group__inner-container {
//                         justify-content: flex-end;
//                         display: flex;
//                         align-items: flex-start;
//                         width: fit-content;
//                     }
//                 }

//                 p {
//                     margin-left: unset;
//                     margin-right: unset;
//                 }
//                 // .slide-right-content {
//                 //     width: fit-content;
//                 //     .wp-block-group__inner-container {
//                 //         width: fit-content;
//                 //         display: flex;
//                 //         flex-direction: column;
//                 //         align-items: flex-end;
//                 //         h2 {
//                 //             //padding-right: 9.85rem;
//                 //         }
//                 //         .wp-block-buttons {
//                 //             max-width: fit-content;
//                 //             //padding-right: 8.7rem;
//                 //         }
//                 //     }
//                 // }
//             }
//         }
//     }
//     @media screen and (min-width: 1600px) {
//         .swiper-slide {
//             .swiper-slide__content {
//                 padding-right: 10rem;
//                 padding-left: 4rem;
//                 padding-top: 4rem;
//                 // p {
//                 //     width: 25% !important;
//                 // }
//                 // .slide-right-content {
//                 //     width: fit-content;
//                 //     .wp-block-group__inner-container {
//                 //         width: fit-content;
//                 //         display: flex;
//                 //         flex-direction: column;
//                 //         align-items: flex-end;
//                 //         h2 {
//                 //             padding-right: 12.45rem;
//                 //         }
//                 //         .wp-block-buttons {
//                 //             max-width: fit-content;
//                 //             padding-right: 13rem;
//                 //         }
//                 //     }
//                 // }
//             }
//         }
//     }
// }
