.lg-search-form {
    label {
        margin-bottom: 0;
    }
    .search-field {
        border: 1px solid #ddd;
        padding: 2px 10px;
        vertical-align: middle;
    }
    .search-submit {
        @extend .btn, .btn-primary;
        padding: .1rem 1rem;

    }
}