.related.products {
    //clear: both;
}

@include media-breakpoint-up(xl) {
    .single-product,
    .tax-product_cat,
    .post-type-archive-product {
        #site-content {
            //display: flex;
        }

        .content-area {
            //flex: 0 0 72%;
            //padding-right: 3rem;
        }

        .widget-area {
            //flex: 0 0 28%;
        }
    }
}
