// .single-product {
//     #primary {
//         float: none;
//         width: 100%;
//     }

//     .product_meta {
//         display: block !important;

//         .posted_in {
//             display: none;
//         }
//     }

//     .btn-group {
//         margin-bottom: 20px;

//         .btn {
//             border-radius: 0;
//             font-size: 12px;
//             box-shadow: none;
//             margin-right: 10px;
//             border: 1px solid #008d7d;
//             padding: 6px 20px;
//             font-weight: normal !important;

//             &:first-child {
//                 display: none;
//             }
//         }

//         .btn-default.active {
//             background-color: theme-color("primary");
//             border-color: #333333;
//             color: #fff;
//             font-weight: normal;
//         }
//     }

//     .variations {
//         .label {
//             display: none;
//         }

//         .value {
//             select {
//                 visibility: hidden !important;
//             }
//         }
//     }
// }

// .reset_variations {
//     display: none !important;
// }

// .woocommerce {
//     nav.woocommerce-pagination {
//         margin-bottom: 3rem;
//     }

//     .woocommerce-breadcrumb {
//         padding-top: 30px;
//     }

//     #page-wrapper .product h1.entry-title {
//         margin-bottom: 10px !important;
//         font-weight: bold;
//         font-size: 24px !important;
//     }

//     div.product p.price,
//     div.product span.price {
//         z-index: 9;
//         color: theme-color("secondary");
//         font-weight: 600 !important;
//         margin-bottom: 20px;
//         display: block;
//     }

//     div.product p.price {
//     }

//     div.product form.cart .variations {
//         margin-bottom: 0;
//     }

//     #page-wrapper .button.alt {
//         background: theme-color("primary") !important;
//         border-radius: 0;
//         padding: 12px 15px;
//         margin-right: 10px;
//     }

//     .quantity {
//         &:before {
//             display: none;
//         }
//     }

//     #page-wrapper .product .cart .qty {
//         margin-top: 0 !important;
//         height: 38px;
//     }
// }

// .woocommerce-product-tagline {
//     h2 {
//         font-size: 16px;
//         font-weight: bold;
//     }
// }

// .lg-product-tabs-wrap {
//     clear: both;

//     .tab-content {
//         padding: 2rem 0;
//     }
// }

// #lg-product-tabs {
//     z-index: 9;
//     display: flex;
// }

// .lg-product-tabs-ul-wrap {
//     position: relative;
//     z-index: 9;

//     .nav-tabs {
//         border-bottom: 2px solid theme-color("primary");

//         .nav-item {
//             margin-bottom: -2px;

//             &:first-child {
//                 .nav-link {
//                     margin-left: 0;
//                 }
//             }
//         }

//         .nav-link {
//             border: 1px solid theme-color("primary");
//             border-bottom: 0;
//             background-color: theme-color("primary");
//             color: #fff;
//             margin: 0 5px;
//             padding: 0.5rem;
//             @include media-breakpoint-up(md) {
//                 padding: 0.5rem;
//             }
//         }

//         .nav-link.active,
//         .nav-item.show .nav-link {
//             position: relative;
//             outline: none;
//             color: theme-color("primary");
//             background-color: #fff;
//             font-weight: normal;
//             border-width: 2px;
//             border-color: theme-color("primary") theme-color("primary") #fff;
//         }
//     }
// }

// .lg-product-tabs-ul-mobile {
//     display: none;
//     justify-content: space-between;
//     align-items: center;
//     font-weight: bold;

//     a {
//         padding: 12px 0;
//     }
// }

// .lg-product-tabs-ul-wrap.is-mobile {
//     background-color: theme-color("primary");
//     color: #fff;
//     padding: 0 1rem;

//     #lg-product-tabs {
//         display: none;
//     }

//     .lg-product-tabs-ul-mobile {
//         display: flex;
//     }

//     .nav-link.active,
//     .nav-item.show .nav-link {
//         &:after {
//             display: none;
//         }
//     }

//     .nav-tabs {
//         padding-bottom: 1rem;

//         .nav-link.active {
//             border-radius: 0;
//         }
//     }
// }

// .rtwpvg-images {
//     width: 100% !important;
// }

// @include media-breakpoint-up(sm) {
//     .rtwpvg-container {
//         display: flex;
//     }

//     .rtwpvg-wrapper {
//         .rtwpvg-thumbnail-slider {
//             display: block;
//         }

//         .rtwpvg-slider-wrapper {
//             flex: 0 0 calc(100% - 100px);
//             max-width: calc(100% - 100px);
//             order: 1;
//         }

//         .rtwpvg-thumbnail-wrapper {
//             flex: 0 0 100px;
//             max-width: 100px;
//             padding-right: 30px;
//         }

//         .rtwpvg-thumbnail-image {
//             opacity: 0.4;
//             border: 2px solid #3b3b3b;
//             margin-bottom: 5px;
//         }
//     }
// }

// .woocommerce {
//     div.product {
//         div.images {
//             float: none;
//             width: 100%;

//             .woocommerce-product-gallery__image--placeholder {
//                 border: 0;
//             }

//             img {
//                 width: auto;
//                 margin: auto;
//             }
//         }

//         div.summary {
//             float: none;
//             width: 100%;
//         }
//     }

//     // ul.products {
//     //   display: flex;
//     //   flex-wrap: wrap;
//     //   margin-left: -1rem;
//     //   margin-right: -1rem;

//     //   li.product {
//     //     padding-left: .8rem;
//     //     padding-right: .8rem;
//     //     margin: 0 0 2rem 0 !important;
//     //     width: auto;
//     //     flex: 0 0 50%;
//     //     float: none;
//     //     display: flex;
//     //     flex-direction: column;

//     //     a {
//     //       img {
//     //         margin: 0 0 1.5rem;
//     //         width: 150px;
//     //         height: 150px;
//     //         object-fit: cover;
//     //         object-position: center;
//     //       }
//     //     }

//     //     .woocommerce-loop-product__link {
//     //       flex: 1 1 auto;
//     //     }

//     //     .button {
//     //       margin-top: 0;
//     //       max-width: 150px;
//     //       text-align: center;
//     //       display: none;
//     //     }

//     //   }
//     // }

//     .woocommerce-ordering select {
//         display: none;
//     }
// }

// h1.woocommerce-products-header__title {
//     margin-bottom: 2rem;
// }

// .woocommerce-loop-product__title {
//     font-weight: normal;
//     color: theme-color("dark");
//     font-family: $font-family-base;
//     margin-bottom: 1rem !important;

//     &:hover,
//     &:active,
//     &:focus {
//         color: theme-color("primary");
//     }
// }

// .woocommerce-products-header {
//     .term-description {
//         margin-bottom: 1.5rem;
//     }
// }

// .woocommerce-loop-category__title {
//     color: theme-color("dark");
//     font-weight: normal;

//     mark {
//         color: theme-color("dark");
//         background-color: transparent;
//     }
// }

// @media (max-width: 768px) {
//     .woocommerce ul.products[class*="columns-"] li.product {
//         float: none;
//         width: auto;
//         margin: 0;
//     }
// }

// // @media (min-width: 769px) {
// //     .woocommerce {
// //         ul.products {
// //             li.product {
// //                 flex: 0 0 33.33333333%;
// //             }
// //         }
// //     }
// // }

// // @media (min-width: 1200px) {
// //     .woocommerce {
// //         ul.products {
// //             li.product {
// //                 flex: 0 0 25%;
// //                 border-bottom: 1px solid #ddd;

// //                 &:nth-last-child(1),
// //                 &:nth-last-child(2),
// //                 &:nth-last-child(3),
// //                 &:nth-last-child(4) {
// //                     border-bottom: 0;
// //                 }
// //             }
// //         }
// //     }
// // }
