//TODO there are some extra classes being added, inspect and sort that out later
@each $name, $hex in $theme-colors {
  .has-#{$name}-background-color {
    background-color: $hex;
  }
}

@each $name, $hex in $theme-colors {
  .wp-block-cover.has-#{$name}-background-color {
    background-color: $hex;
  }
}

@each $name, $hex in $theme-colors {
  .has-#{$name}-color {
    color: $hex;
  }
}

